//@import url(https://fonts.googleapis.com/css?family=Lato);

$font-family-sans-serif: 'Droid Sans', sans-serif;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primary-color: #A88AF1;
$accent-color: #32d0a0;
$bg-white: white;

$polka-dot-bg: $bg-white;
$polka-dot: $primary-color;

$polka-space: 80px;
$polka-half-space:160px;

.logo {
  font-family: 'Josefin Sans', sans-serif;
  color: #a98af2;
}

body {
  line-height: 1.7;
  background: -moz-radial-gradient($polka-dot 15%, transparent 16%), -moz-radial-gradient($polka-dot 15%, transparent 16%), $polka-dot-bg;
  background: -webkit-radial-gradient($polka-dot 15%, transparent 16%), -webkit-radial-gradient($polka-dot 15%, transparent 16%), $polka-dot-bg;
  background-position: 0 0, $polka-half-space $polka-half-space;

  -webkit-background-size: $polka-space $polka-space;
  -moz-background-size: $polka-space $polka-space;
  background-size: $polka-space $polka-space;
}

h3 {
  padding-bottom: 20px;
  color: #a98af2;
}

.pad-sides {
  padding-left: 30px;
  padding-right: 30px;

}

.btn-info {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-info:hover {
  background-color: darken( $primary-color, 5% );
  border-color: darken( $primary-color, 5% );
}

.feature-tagline {
  margin-top: 30px;
}

#bg-panel {
  position: absolute;
  width:100%;
  height: 300px;
  background-color: $bg-white;
  border-bottom:10px $primary-color solid;
  z-index: -1;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

#main-content {
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.row-pad {
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: $accent-color;
  &:hover {
    color: lighten($accent-color, 10%);
  }
}

#footer {
  background-color: #F5F5F5;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.nav-main {
  padding-top: 0;
  a {
    display: inline-block;
    padding: 5px 10px;
    border-top: solid 2px $accent-color;
    color: #333333;
    margin-right: 5px;
    &.selected {
      color: white;
      background-color: $accent-color;
    }
    &:hover {
      color: white;
      background-color: lighten($accent-color, 10%);
      text-decoration: none;
    }
  }
}

.thumbnail {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.thumbnail img {
  width: auto;
  height: auto;
}

.imgs-responsive img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-bg {
  background-size:cover;
}

.card {
  text-align: center;
  color:white;
  background: rgba(255, 255, 255, 0.5);

  .card-btn {
    margin: 180px auto 5px auto;
  }
}